@font-face {
    font-family: "Asap";
    src: url("./assets/fonts/Asap-Regular.ttf") format("truetype");
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Asap";
    src: url("./assets/fonts/Asap-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    color-scheme: dark;
}

:root {
    scroll-behavior: smooth;
}
