@font-face {
    font-family: "Asap";
    src: url("./assets/fonts/Asap.ttf") format("truetype");
    font-style: normal;
    font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    color-scheme: dark;
}
